<nav class="display-flex align-center justify-between">
  <!-- 網頁發佈用 -->
  <div class="logo display-flex align-center">
    <a class="logo-a" href="../unify/index.html"
      ><img class="ml-50" src="../assets/logo/unify-logo.png" alt="logo"
    /></a>
  </div>
  <ul class="display-flex align-center p-10">
    <li class="mr-30"><a href="../unify/about.html">關於國基</a></li>

    <li class="mr-30"><a href="../unify/lastest.html">最新消息</a></li>

    <li class="mr-50">
      <a href="../unify/services.html"
        >服務項目<i class="bi bi-chevron-down"></i
      ></a>
    </li>

    <!-- 本地測試用 -->
    <!-- <div class="logo display-flex align-center">
    <a class="logo-a" href="../pages/index.html"
      ><img class="ml-50" src="../assets/logo/unify-logo.png" alt="logo"
    /></a>
  </div>
  <ul class="display-flex align-center p-10">
    <li class="mr-30"><a href="../pages/about.html">關於國基</a></li>

    <li class="mr-30"><a href="../pages/lastest.html">最新消息</a></li>

    <li class="mr-50">
      <a href="../pages/services.html"
        >服務項目<i class="bi bi-chevron-down"></i
      ></a>
    </li> -->
    <!-- 下拉選單（已捨棄） 
      <div class="dropdown mr-50">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        服務項目
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->
  </ul>
</nav>
