nav {
  color: black;
  background-color: white;

  img {
    width: 50px;
    padding: 15px 0;
  }

  a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: #ff0000;
    position: absolute;
    right: 0;
    transition: 0.4s;
    bottom: -7px;
  }
  a:hover::after {
    width: 100%;
    left: 0;
  }

  //為了消除logo的a標籤link在hover時會出現的紅線
  //所以寫了這條，但其實也不是很懂，只好把顏色改成透明，眼不見為淨，以後再來改 (┛`д´)┛

  .logo-a::after {
    content: "";
    display: block;
    width: 0;
    height: 0px;
    background-color: transparent;
    position: absolute;
    right: 0;
    transition: 0.4s;
    bottom: -7px;
  }
  // .logo-a::after {
  //   width: 100%;
  //   left: 0;
  // }
}
