nav {
  background-color: white;
  color: black;
  .logo {
    p {
      font-weight: 500;
      font-size: 20px;
    }
  }

  img {
    width: 50px;
    padding: 15px 0;
    margin-left: 50px;
  }
}
