nav {
  color: black;
  background-color: white;

  img {
    width: 50px;
    padding: 15px 0;
  }

  a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: #ff0000;
    position: absolute;
    right: 0;
    transition: 0.4s;
    bottom: -7px;
  }
  a:hover::after {
    width: 100%;
    left: 0;
  }

  //偷懶（不知道怎麼調整，先這樣）
  .logo-a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: 0.4s;
    bottom: -7px;
  }
  .logo-a::after {
    width: 100%;
    left: 0;
  }
}

// 下拉選單hover樣式覆蓋（已捨棄）
// .dropdown-toggle::after {
//   display: inline-block;
//   margin-left: 0em;
//   vertical-align: 0em;
//   content: "";
//   border-top: 0;
//   border-right: 0;
//   border-bottom: 0;
//   border-left: 0;
// }
